:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
}
body {
  background-color: var(--VeryDarkBlue);
  color: white;
}

.box {
  background-color: var(--DarkBlue);
  margin: 4vw 38vw;
  padding: 1vw;
  border-radius: 25px;
}

.dot {
  background-color: var(--MediumGrey);
  border-radius: 50%;
  height: 45px;
  width: 45px;
  padding: 5px;
}

h2 {
  color: var(--White);
}

p {
  color: var(--LightGrey);
}

.numbers {
  color: var(--LightGrey);
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.submitBtn {
  background-color: var(--Orange);
  color: var(--White);
  border-style: none;
  border-radius: 25px;
  padding: 0.5vw 8vw;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
